{% extends "lab_8/layout/base.html" %}
{% block content %}

<div class="container">
	<button style="background-color: blue;color: white;" id = 'fblogin' onclick="facebookLogin()">Login with Facebook</button>
	<div id='lab8'></div>
</div>
	
{% endblock %}