{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="LAB 4">
    <meta name="author" content="{{author}}">
    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">    

    <title> 
        {% block title %} Lab 4 By {{author}}{% endblock %}
    </title>
</head>

<style>
	body{
		background: url(https://image.ibb.co/gUETjQ/cityskyline_web_alter.png) no-repeat center center fixed;
	    background-position: center;
	    background-repeat: no-repeat;
		background-size: cover;
		-webkit-background-size: cover;           /* Safari 3.0 */
		-moz-background-size: cover;           /* Gecko 1.9.2 (Firefox 3.6) */
		-o-background-size: cover;           /* Opera 9.5 */
		overflow: auto;
		color: #e5e5e5;
	}
	.table {
		border: 1px solid gray;
		word-wrap:break-word;	
	}
	thead{
		color: #e5e5e5;
	}
	tbody{
		color: #111111;
	}
	.success{
		color: #222222;
	}
	.warning{
		color: #9a9a9a;
		
	}
	

</style>

<body>
    <header>
        {% include "lab_4/partials/header.html" %}
    </header>
    <content>
        <div class="container">
            {% block content %}
                <!-- content goes here -->
            {% endblock %}
        </div>

    </content>
    <footer>
        <!-- TODO Block Footer dan include footer.html -->
        {% block footer %}
        {% include "lab_4/partials/footer.html" %}
        {% endblock %}
    </footer>

    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
