{% extends "base.html" %}
{% block content %}
<h3 style="text-align: center; color: #e5e5e5">Hi all, This is my daily activities</h3>
<br><br>
<div class="row" style="margin: 10px">
    <div class="col-12">
        <form method="POST" action="add_activity/">
            {% csrf_token %}
            <div style="display: inline-block; min-width: 200px; width: 15%">
				<b>Date and Time:</b>
				<input type="datetime-local" name="date" id="date" required="required" style="width:100%"/>
			</div>
			<div style="display: inline-block; min-width: 200px; width: 75%">
				<b>Activity:</b>
				<input type="text" name="activity" id="activity" size="25" style="width:100%"/>
			</div>
	        <div style="display: inline-block">
				<button type="submit" class="button btn-success" style="background-color: #6B7BBC">Submit</button>
			</div>
        </form>
    </div>
</div>
<div class="row" style="margin: 10px">
	<div class="col-12">
        <table style="table-layout: fixed; width: 100%">
            <tr>
                <th style="text-align: center; width:190px">Date/Time</th>
                <th style="text-align: center">Activity</th>
            </tr>
            {% for diary_data in diary_dict %}
                <tr>
                    <td class="date">{{ diary_data.date }}</td>
                    <td class="activity">{{ diary_data.activity }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
