<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/lab-8/">Home</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!-- LINK MENUJU table, dan link menuju home#form -->
        <li><a href="/lab-1/">Lab 1</a></li>
        <li><a href="/lab-2/">Biodata</a> </li>
		<li><a href="/lab-3/">Diary</a></li>
        <li><a href="/lab-4/">Better Biodata</a> </li>
		<li><a href="/lab-5/">TODOLIST</a></li>
        <li><a href="/lab-6/">Calculator</a> </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
